<main class="container">

  <div class="row">

    <div class="col-md-12">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Name filter">
      </mat-form-field>


      <mat-form-field>
        <mat-label>Tier</mat-label>
        <mat-select placeholder="Weapon Tier" [(value)]="selectedTier">
          <mat-option *ngFor="let tier of tiers" [value]="tier">
            {{tier}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let item" [title]="item.name">
            <a [href]="localization.getWikiUrl(item)" target="_blank"> {{item.name | translate}} </a>
          </td>
        </ng-container>

        <!-- MaxRange -->
        <ng-container matColumnDef="MaxRange">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'statMaxRange' | translate }} </th>
          <td mat-cell *matCellDef="let weapon"> {{weapon.MaxRange}} </td>
        </ng-container>

        <!-- DamageFalloffRange -->
        <ng-container matColumnDef="DamageFalloffRange">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'statDamageFalloffRange' | translate }} </th>
          <td mat-cell *matCellDef="let weapon"> {{weapon.DamageFalloffRange}} </td>
        </ng-container>

        <!-- MaxUses -->
        <ng-container matColumnDef="MaxUses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Max uses (T{{selectedTier}}) </th>
          <td mat-cell *matCellDef="let weapon"> {{ weapon.getMaxUses(selectedTier) | number:'1.0-0' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let weapon; columns: displayedColumns"></tr>

      </table>

    </div>

  </div>

</main>
