<main class="container">

  <div class="row">

    <div class="col-md-12">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Name filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let weapon" [title]="weapon.name"> {{weapon.name | translate}} </td>
        </ng-container>

        <!-- MaxRange -->
        <ng-container matColumnDef="MaxRange">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'statMaxRange' | translate }} </th>
          <td mat-cell *matCellDef="let weapon"> {{weapon.MaxRange}} </td>
        </ng-container>

        <!-- DamageFalloffRange -->
        <ng-container matColumnDef="DamageFalloffRange">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'statDamageFalloffRange' | translate }} </th>
          <td mat-cell *matCellDef="let weapon"> {{weapon.DamageFalloffRange}} </td>
        </ng-container>

        <!-- MaxUses Tier 1 -->
        <ng-container matColumnDef="MaxUsesT1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Max uses (T1) </th>
          <td mat-cell *matCellDef="let weapon"> {{ weapon.getMaxUses(1) | number:'1.0-0' }} </td>
        </ng-container>

        <!-- MaxUses Tier 6 -->
        <ng-container matColumnDef="MaxUsesT6">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Max uses (T6) </th>
          <td mat-cell *matCellDef="let weapon"> {{ weapon.getMaxUses(6) | number:'1.0-0' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let weapon; columns: displayedColumns"></tr>

      </table>

    </div>

  </div>

</main>
