<input matInput type="number" [(ngModel)]="node.item.count" required min="1" max="999" class="count"/>
<img src="assets/ItemIcons/{{node.item.item.customIcon || node.item.item.name}}.png"
     class="ItemIcons"/>
<span class="itemName">{{node.item.item.name | translate }}</span>
<img *ngIf="node.item.recipe && node.item.recipe.isLearnable && recipes.getRequiredPerkLevelForRecipe(node.item) as perkLevel"
     src="assets/UIAtlasItemIcons/ItemIcons/ui_game_symbol_skills.png"
     title="{{recipes.perkLevelToString(perkLevel)}}"
     class="UIAtlasItemIcons"
/>
<img *ngIf="node.item.recipe && node.item.recipe.craftArea"
     src="{{ recipes.getCraftAreaIcon(node.item.recipe.craftArea) }}"
     title="{{ node.item.recipe.craftArea | translate }}"
     class="UIAtlasItemIcons"
/>
<img *ngIf="node.item.recipe && node.item.recipe.craftTool"
     src="assets/ItemIcons/{{node.item.recipe.craftTool}}.png"
     title="{{ node.item.recipe.craftTool | translate }}"
     class="ItemIcons ItemIcons-right"
/>
<mat-progress-bar *ngIf="node.isLoading"
                  mode="indeterminate"
                  class="example-tree-progress-bar"></mat-progress-bar>
