<input matInput type="number" [(ngModel)]="node.item.count" required min="1" max="999" class="count" [readonly]="!node.hasChildren" />
<app-item-icon [itemName]="(node.item.item || node.item.recipe).name" class="ItemIcons"></app-item-icon>
<span class="itemName">
  <a [href]="'/' + node.item.name" target="_blank">{{node.item.name | translate }}</a>
</span>

<!-- Recipe -->
<ng-container *ngIf="node.item.recipe">

  <!-- isLearnable -->
  <ng-container *ngIf="node.item.recipe.isLearnable">
    <ng-container *ngIf="getRequiredItem(node.item) as requiredItem; else elseBlock">
      <img src="assets/UIAtlasItemIcons/ItemIcons/ui_game_symbol_skills.png"
           title="{{requiredItem.name | translate}}"
           class="UIAtlasItemIcons"
      />
      :
      <app-item-icon [itemName]="requiredItem.name"></app-item-icon>
    </ng-container>
    <ng-template #elseBlock>
      <img *ngIf="getRequiredPerkLevelForRecipe(node.item) as perkLevel"
           src="assets/UIAtlasItemIcons/ItemIcons/ui_game_symbol_skills.png"
           title="{{perkLevelToString(perkLevel)}}"
           class="UIAtlasItemIcons level-{{perkLevel.level}}"
      />
    </ng-template>
  </ng-container>

  <!-- Craft Area -->
  <img *ngIf="node.item.recipe.craftArea as craftArea"
       src="{{ getCraftAreaIcon(craftArea) }}"
       title="{{ craftArea | translate }}"
       class="UIAtlasItemIcons"
  />
  <!-- Craft Tool -->
  <img *ngIf="node.item.recipe.craftTool as craftTool"
       src="assets/ItemIcons/{{craftTool}}.png"
       title="{{ craftTool | translate }}"
       class="ItemIcons ItemIcons-right"
  />
</ng-container>

<mat-progress-bar *ngIf="node.isLoading"
                  mode="indeterminate"
                  class="example-tree-progress-bar"></mat-progress-bar>
