$icon-height: 32px;

img {
  height: $icon-height;
}

img.ItemIcons {
  margin-right: 1ex;
}

img.ItemIcons-right {
  margin-right: 0;
  margin-left: 1ex;
}

img.UIAtlasItemIcons {
  margin-left: 1ex;
  width: $icon-height;
}

img.level-1 {
  color: #FFFFFF;
}

img.level-2 {
  color: #FFFFC2;
  filter: brightness(1) sepia(1) saturate(400%) hue-rotate(0deg);
}

img.level-3 {
  color: #FFFD00;
  filter: brightness(0.8) sepia(1) saturate(500%) hue-rotate(0deg);
}

img.level-4 {
  color: #FF8B00;
  filter: brightness(0.5) sepia(1) saturate(1000%) hue-rotate(0deg);
}

img.level-5 {
  color: #FF0000;
  filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(0deg);
}

.count {
  width: 2em;
  text-align: right;
}
