<main class="container">
  <div class="row">
    <div class="col-md-12">

      <!-- TODO div -->
      <div style="background: #505050f2;">

        <h1>{{object.name | translate}}</h1>

        <app-item-icon [itemName]="object.name" class="ItemIcons"></app-item-icon>

        <h2>Description</h2>

        <h2>Details</h2>
        <table style="background: #ffffff1a;">

          <tr>
            <th colspan="2">Description</th>
          </tr>

          <!-- Item details -->
          <ng-container *ngIf="object.item">

            <tr>
              <td>Item ID</td>
              <td></td>
            </tr>
            <tr>
              <td>Group</td>
              <td>{{object.item.Group}}</td>
            </tr>
            <tr>
              <td>Category</td>
              <td></td>
            </tr>

            <tr>
              <th colspan="2">Statistics</th>
            </tr>

            <tr>
              <td><a [href]="localization.getWikiUrl('Durability')">Durability (Level 1)</a></td>
              <td>{{object.item.getDegradationMax(1)}}</td>
            </tr>

            <tr>
              <td><a [href]="localization.getWikiUrl('Durability')">Durability (Level 6)</a></td>
              <td>{{object.item.getDegradationMax(6)}}</td>
            </tr>

            <tr>
              <th colspan="2">Attack Statistics</th>
            </tr>

            <tr>
              <td><a [href]="localization.getWikiUrl('Entity_Damage')">Entity Damage</a></td>
              <td>{{object.item.EntityDamage}}</td>
            </tr>

            <tr>
              <td><a [href]="localization.getWikiUrl('Block_Damage')">Block Damage</a></td>
              <td>{{object.item.BlockDamage}}</td>
            </tr>

            <tr>
              <td><a [href]="localization.getWikiUrl('Range')">Range Effective</a></td>
              <td>{{object.item.DamageFalloffRange}}</td>
            </tr>

            <tr>
              <td><a [href]="localization.getWikiUrl('Range')">Max Range</a></td>
              <td>{{object.item.MaxRange}}</td>
            </tr>

          </ng-container>

          <tr>
            <th colspan="2">Obtained through</th>
          </tr>

          <tr>
            <td><a [href]="localization.getWikiUrl('Crafting')">Crafting</a></td>
            <td>{{object.recipe ? 'Yes' : 'No'}}</td>
          </tr>

        </table><!-- details -->

        <ng-container *ngIf="object.recipe">
          <h2>Crafting</h2>

          <h4>Required Items</h4>
          <ul>
            <li *ngFor="let ingredient of object.recipe.ingredients">
              <app-item-icon [itemName]="ingredient.name"></app-item-icon>
              {{ingredient.count}}* <a [href]="ingredient.name">{{ingredient.name | translate}}</a>
            </li>
          </ul>

        </ng-container>

        <h2>See also</h2>

        <ul>
          <li><a [href]="localization.getWikiUrl(object.name)">Wiki</a></li>
        </ul>

      </div>
    </div>
  </div>
</main>
