<main class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="main container rounded">

        <h1>{{object.name | translate}}</h1>

        <div class="table-container">
          <table class="stats">

            <tr>
              <th colspan="2">{{object.name | translate}}</th>
            </tr>

            <tr>
              <td colspan="2" style="position: relative; text-align: center; padding: 10px;">
                <app-item-icon [itemName]="object.name" class="ItemIcons" height="auto"></app-item-icon>
              </td>
            </tr>

            <tr>
              <th colspan="2">Entity</th>
            </tr>

            <!-- Item details -->
            <ng-container *ngIf="object.item">

              <tr>
                <td>Item ID</td>
                <td></td>
              </tr>
              <tr>
                <td>Group</td>
                <td>{{object.item.Group}}</td>
              </tr>
              <tr>
                <td>Category</td>
                <td></td>
              </tr>

              <tr>
                <th colspan="2">Characteristics</th>
              </tr>

              <tr>
                <td><a [href]="localization.getWikiUrl('Durability')">Durability (Level 1)</a></td>
                <td>{{object.item.getDegradationMax(1)}}</td>
              </tr>

              <tr>
                <td><a [href]="localization.getWikiUrl('Durability')">Durability (Level 6)</a></td>
                <td>{{object.item.getDegradationMax(6)}}</td>
              </tr>

              <tr>
                <th colspan="2">Attack Statistics</th>
              </tr>

              <ng-container *ngIf="object.item.MagazineItemNames">

                <tr>
                  <td>Magazine Size</td>
                  <td>{{object.item.MagazineSize}}</td>
                </tr>

                <tr>
                  <td colspan="2">
                    <select [(ngModel)]="selectedMagazineItem">
                      <option *ngFor="let magazineItem of magazineItems(object)"
                              [ngValue]="magazineItem">{{magazineItem.name | translate}}</option>
                    </select>
                  </td>
                </tr>

              </ng-container>

              <tr>
                <td><a [href]="localization.getWikiUrl('Entity_Damage')">Entity Damage</a></td>

                <td>
                  <ng-template [ngIf]="!object.item.MagazineItemNames" [ngIfElse]="entityDamageMagazineItems">
                    {{object.item.EntityDamage}}
                  </ng-template>
                  <ng-template #entityDamageMagazineItems>
                    <a [href]="selectedMagazineItem.name">{{object.item.getEntityDamage(selectedMagazineItem)}}</a>
                  </ng-template>
                </td>
              </tr>

              <tr>
                <td><a [href]="localization.getWikiUrl('Block_Damage')">Block Damage</a></td>
                <td>
                  <ng-template [ngIf]="!object.item.MagazineItemNames" [ngIfElse]="blockDamageMagazineItems">
                    {{object.item.BlockDamage}}
                  </ng-template>
                  <ng-template #blockDamageMagazineItems>
                    <a [href]="selectedMagazineItem.name">{{object.item.getBlockDamage(selectedMagazineItem)}}</a>
                  </ng-template>
                </td>
              </tr>

              <tr>
                <td><a [href]="localization.getWikiUrl('Range')">Range Effective</a></td>
                <td>{{object.item.DamageFalloffRange}}</td>
              </tr>

              <tr>
                <td><a [href]="localization.getWikiUrl('Range')">Range Max</a></td>
                <td>{{object.item.MaxRange}}</td>
              </tr>

              <tr>
                <td>Recoil</td>
                <td>{{object.item.recoil}}</td>
              </tr>

              <tr>
                <td><a [href]="localization.getWikiUrl('Handling')">Handling</a></td>
                <td>{{object.item.handling}}</td>
              </tr>

              <tr>
                <td>Reload Speed</td>
                <td>{{object.item.reloadTime}}s</td>
              </tr>

            </ng-container>

            <tr>
              <th colspan="2">Obtained through</th>
            </tr>

            <tr>
              <td><a [href]="localization.getWikiUrl('Crafting')">{{'xuiWPcrafting' | translate}}</a></td>
              <td>{{object.recipe ? ('Yes' | translate) : ('No' | translate)}}</td>
            </tr>

            <tr>
              <td><a [href]="localization.getWikiUrl('Harvesting')">{{ 'harvesting' | translate }}</a></td>
              <td>{{getDropsToGet(object) ? ('Yes' | translate) : ('No' | translate)}}</td>
            </tr>

            <tr>
              <td><a [href]="localization.getWikiUrl('Repairing')">{{ 'lblContextActionRepair' | translate }}</a></td>
              <td>{{getRepairItems(object) ? ('Yes' | translate) : ('No' | translate)}}</td>
            </tr>

          </table><!-- details -->
        </div>

        <h2>Description</h2>

        <p [innerHTML]="object | describe"></p>

        <ng-container *ngIf="object.recipe">
          <h2>{{'xuiWPcrafting' | translate}}</h2>

          <h4>{{'requiredItems' | translate}}</h4>

          <ng-container *ngFor="let recipe of getRecipeAndSiblings(object.recipe)">

            <p>{{ 'To obtain' | translate }} {{ object.recipe.count }} {{ object.name | translate }} :</p>

            <div class="crafting-container">

              <div class="crafting-items" [ngClass]="{'with-area': recipe.craftArea}">
                <ng-container *ngFor="let ingredient of recipe.ingredients">
                  <div>
                    <app-item-icon [itemName]="ingredient.name" height="56px"></app-item-icon>
                  </div>
                  <div class="count">{{ingredient.count}}</div>
                  <div>
                    <a [href]="ingredient.name">{{ingredient.name | translate}}</a>
                  </div>
                </ng-container>
              </div>

              <div #craftAreaElement class="crafting-area" *ngIf="recipe.craftArea as craftArea">
                <p>{{'atA' | translate}}</p>
                <app-item-icon [itemName]="craftArea" height="56px"></app-item-icon>
                <p><a [href]="craftArea">{{craftArea | translate}}</a></p>
              </div>

              <div #craftToolElement class="crafting-tool" *ngIf="recipe.craftTool as craftTool">
                <p>{{'thatHasA' | translate}}</p>
                <app-item-icon [itemName]="craftTool" height="56px"></app-item-icon>
                <p><a [href]="craftTool">{{craftTool | translate}}</a></p>
              </div>

              <div #perkLevelElement class="crafting-perk" *ngIf="getRequiredPerkLevelForRecipe(recipe) as perkLevel">
                <p>{{'afterAttaining' | translate}}</p>
                <app-ui-atlas-item-icon name="ui_game_symbol_skills" height="56px" [level]="perkLevel.level"></app-ui-atlas-item-icon>
                <p>
                  {{perkLevel.name + 'Name' | translate}}<br/>
                  {{'xuiSkillLevel' | translate}} {{perkLevel.level}}
                </p>
              </div>

            </div>

          </ng-container>

        </ng-container>

        <!-- Repairing -->
        <ng-container *ngIf="getRepairItems(object) as repairItems">

          <h2>{{'lblContextActionRepair' | translate}}</h2>

          <p>{{'requiredItems' | translate}} {{'to repair' | translate}} 1 {{ object.name | translate }} :</p>

          <table>
            <tr *ngFor="let repairItem of repairItems">
              <td><app-item-icon [itemName]="repairItem.name" height="56px"></app-item-icon></td>
              <td class="count">{{repairItem.count}}</td>
              <td><a [href]="repairItem.name">{{repairItem.name | translate}}</a></td>
            </tr>
          </table>

        </ng-container>

        <!-- Get from blocks -->
        <ng-container *ngIf="getDropsToGet(object) as drops">
          <h2>{{'harvesting' | translate}}</h2>

          <table>
            <tr>
              <th>Event</th>
              <th>Block</th>
              <th>Prob. (%)</th>
              <th>Count</th>
            </tr>

            <tr *ngFor="let drop of drops">
              <td>{{ drop.event }}</td>
              <td>
                <app-item-icon [itemName]="drop.block.name" class="itemIcon"></app-item-icon>
                <a [href]="drop.block.name">{{ drop.block.name | translate }}</a>
              </td>
              <td>{{ drop.prob | percent }}</td>
              <td>{{ drop.count }}</td>
            </tr>
          </table>
        </ng-container>

        <!-- Block frequency -->
        <ng-container *ngIf="getResourceOccurences(object) as resourceOccurences">
          <h2>Block frequency</h2>

          <table>
            <tr>
              <th>Map</th>
              <th>Biome</th>
              <th>Sub Biome</th>
              <th>Layer</th>
              <th>Block</th><!-- Default layer block -->
              <th>Prob. (%)</th>
            </tr>

            <tr *ngFor="let resourceOccurence of resourceOccurences">
              <td [ngStyle]="{'background-color': getBiomeMapColor(resourceOccurence.layer.biome)}">&nbsp;</td><!-- biomemapcolor -->
              <td>{{ getBiomeName(resourceOccurence.layer.biome) }}</td>
              <td>{{getSubBiomeIndex(resourceOccurence.layer.biome)}} {{ getSubBiomeProb(resourceOccurence.layer.biome) | percent }}</td>
              <td>{{ resourceOccurence.layer.elevation.max }}<br/>{{ resourceOccurence.layer.elevation.min }}</td>
              <td><app-item-icon [itemName]="resourceOccurence.layer.blockname"></app-item-icon> {{ resourceOccurence.layer.blockname | translate }}</td>
              <td>{{ resourceOccurence.prob | percent }}</td>
            </tr>

          </table>
        </ng-container>

        <ng-container *ngIf="object.item && object.item.MagazineItemNames as magazineItemNames">
          <h2>{{ 'ammunition' | translate }}</h2>

          <ul>
            <li *ngFor="let magazineItemName of magazineItemNames">
              <a [href]="magazineItemName">{{magazineItemName | translate}}</a>
            </li>
          </ul>
        </ng-container>

        <ng-container *ngIf="getAllModsInstallableOn() as mods">
          <h2>{{ 'compatibleMods' | translate }}</h2>

          <ul>
            <li *ngFor="let mod of mods"><a [href]="mod.name">{{mod.name | translate}}</a></li>
          </ul>
        </ng-container>

        <ng-container *ngIf="getCompatibleItems() as compatibleItems">
          <h2>{{ 'compatibleItems' | translate }}</h2>

          <ul>
            <li *ngFor="let compatibleItem of compatibleItems"><a [href]="compatibleItem.name">{{compatibleItem.name | translate}}</a></li>
          </ul>
        </ng-container>

        <h2>{{'seeAlso' | translate}}</h2>

        <ul>
          <li><a [href]="localization.getWikiUrl(object.name)">Wiki</a></li>
        </ul>

        <br style="clear: both;"/>

      </div>

    </div>
  </div>
</main>
