$icon-height: 32px;

.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.node {
  font-size: $icon-height;
  font-family: 'Agency FB Bold', arial, sans-serif;
}

.node img {
  height: $icon-height;
}
.node img.ItemIcons {
  margin-right: 1ex;
}

.node img.UIAtlasItemIcons {
  margin-left: 1ex;
  width: $icon-height;
}

.node .count {
  width: 3em;
  text-align: right;
}
