.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.node {
  font-size: 40px;
  font-family: 'Agency FB Bold', arial, sans-serif;
}

.node .count {
  width: 3em;
  text-align: right;
}
