<main class="container">
  <div class="row">
    <div class="col-md-8">

      <h1>{{ 'lblAttributeRecipe' | translate }}</h1>

      <!-- Craft Area Filter -->
      <mat-button-toggle-group name="craftAreaFilter" aria-label="Craft Area Filter" (change)="toggleCraftArea($event.value); reapplyFilter()" multiple>
        <mat-button-toggle *ngFor="let craftArea of CRAFT_AREAS" value="{{craftArea}}" title="{{ craftArea | translate }}"
                           aria-label="{{ craftArea | translate }}" [checked]="true">
          <img class="square" src="{{ getCraftAreaIcon(craftArea) }}" />
        </mat-button-toggle>
      </mat-button-toggle-group>

      <!-- Craft Tool Filter -->
      <mat-button-toggle-group name="craftToolFilter" aria-label="Craft Tool Filter" (change)="reapplyFilter()" multiple>
        <mat-button-toggle *ngFor="let craftTool of CRAFT_TOOLS" value="{{craftTool}}" title="{{ craftTool | translate }}"
                           aria-label="{{ craftTool | translate }}" [checked]="true">
          <img src="assets/ItemIcons/{{craftTool}}.png" />
        </mat-button-toggle>
      </mat-button-toggle-group>

      <br/>

      <mat-form-field>
        <mat-label>{{ 'nameFilter' | translate }}</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="node" [title]="node.item.name | describe">
          <button mat-icon-button disabled></button>
          <app-recipe-node [node]="node"></app-recipe-node>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasChildren" matTreeNodePadding class="node" [title]="node.item.name | describe">
          <button mat-icon-button
                  [attr.aria-label]="'toggle ' + node.item.name" matTreeNodeToggle>
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <app-recipe-node [node]="node"></app-recipe-node>
        </mat-tree-node>
      </mat-tree>

    </div>


    <div class="col-md-4">
      <h1>{{ 'shoppingList' | translate }}</h1>
      <app-summary></app-summary>
    </div>
  </div>
</main>
