$icon-height: 32px;

mat-button-toggle-group {
  margin-left: 1ex;
  //margin-bottom: 1ex;
}

mat-button-toggle-group:first-of-type {
  margin-left: 0;
}

mat-button-toggle img {
  height: $icon-height;
}

mat-button-toggle img.square {
  width: $icon-height;
}

.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.node {
  font-size: 24px;
  font-family: 'Agency FB Bold', arial, sans-serif;
}
