h1.app-name {
  margin-left: 8px;
  font-size: xx-large;
  font-family: "Agency FB Bold", Roboto, "Helvetica Neue", sans-serif;
}

header a, header img {
  height: 100%;
}

.footer {
  text-align: center;
  color: black;
}

.footer a {
  color: black;
}

.sidenav-container {
  background: none;
}
