<header>
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a href="https://7daystodie.com/"><img
      src="https://gamepedia.cursecdn.com/7daystodie_gamepedia/thumb/1/1f/OfficalWiki.png/600px-OfficalWiki.png?version=53cf53a4d2849bbdabf215f58b3b43ef"
      alt="7 Days to Die"/></a>
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav mode="over" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item [routerLink]="route.path" *ngFor="let route of router.config | forFilter:forFilter">{{route.data.title}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary" class="toolbar footer">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright text-center py-3">
          by <a href="https://github.com/Bludwarf/">Bludwarf</a>
        </div>
      </div>
    </div>
  </div>

</mat-toolbar>
